<div class="page-header">
  <h1 class="page-title">Formulario de Predicción</h1>
</div>

<div class="container">
  <mat-card class="form-card">
    <h1></h1>
    <form [formGroup]="predictForm">
      <div class="form-column">
        <!-- Campo Administrative -->
        <div class="form-item">
          <label class="form-label">¿Cuántas páginas administrativas?</label>
          <mat-form-field appearance="fill" class="form-field">
            <input matInput formControlName="Administrative" type="number" min="0" max="26" required />
            <mat-error *ngIf="predictForm.get('Administrative')?.invalid">
              Debes ingresar un número entre 0 y 26.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo Administrative_Duration -->
        <div class="form-item">
          <label class="form-label">¿Duración en páginas administrativas (en segundos)?</label>
          <mat-form-field appearance="fill" class="form-field">
            <input matInput formControlName="Administrative_Duration" type="number" min="0" max="5000" required />
            <mat-error *ngIf="predictForm.get('Administrative_Duration')?.invalid">
              Debes ingresar un número entre 0 y 5000.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo Informational -->
        <div class="form-item">
          <label class="form-label">¿Cuántas páginas informativas?</label>
          <mat-form-field appearance="fill" class="form-field">
            <input matInput formControlName="Informational" type="number" min="0" max="15" required />
            <mat-error *ngIf="predictForm.get('Informational')?.invalid">
              Debes ingresar un número entre 0 y 15.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo Informational_Duration -->
        <div class="form-item">
          <label class="form-label">¿Duración en páginas informativas (en segundos)?</label>
          <mat-form-field appearance="fill" class="form-field">
            <input matInput formControlName="Informational_Duration" type="number" min="0" max="5000" required />
            <mat-error *ngIf="predictForm.get('Informational_Duration')?.invalid">
              Debes ingresar un número entre 0 y 5000.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo ProductRelated -->
        <div class="form-item">
          <label class="form-label">¿Cuántas páginas relacionadas con productos?</label>
          <mat-form-field appearance="fill" class="form-field">
            <input matInput formControlName="ProductRelated" type="number" min="0" max="200" required />
            <mat-error *ngIf="predictForm.get('ProductRelated')?.invalid">
              Debes ingresar un número entre 0 y 200.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo ProductRelated_Duration -->
        <div class="form-item">
          <label class="form-label">¿Duración en páginas relacionadas con productos?</label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="ProductRelated_Duration" type="number" min="0" max="5000" required />
            <mat-error *ngIf="predictForm.get('ProductRelated_Duration')?.hasError('required')">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="predictForm.get('ProductRelated_Duration')?.hasError('min')">
              El valor debe ser mayor o igual a 0.
            </mat-error>
            <mat-error *ngIf="predictForm.get('ProductRelated_Duration')?.hasError('max')">
              El valor debe ser menor o igual a 5000.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo BounceRates -->
        <div class="form-item">
          <label class="form-label">¿Tasa de rebote (%)?</label>
          <mat-form-field appearance="fill" class="form-field">
            <input matInput formControlName="BounceRates" type="number" min="0" max="100" required />
            <mat-error *ngIf="predictForm.get('BounceRates')?.invalid">
              Debes ingresar un número entre 0 y 100.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Exit Rates -->
        <div class="form-item">
          <label class="form-label">¿Tasa de Salidas(%)?</label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="ExitRates" type="number" min="0" max="100" step="10" required />
            <mat-error *ngIf="predictForm.get('ExitRates')?.hasError('required')">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="predictForm.get('ExitRates')?.hasError('min')">
              El valor debe ser mayor o igual a 0.
            </mat-error>
            <mat-error *ngIf="predictForm.get('ExitRates')?.hasError('max')">
              El valor debe ser menor o igual a 100.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo Page Values -->
        <div class="form-item">
          <label class="form-label">¿Valoración de páginas (%)?</label>
          <mat-form-field appearance="fill">
            <input matInput formControlName="PageValues" type="number" min="0" max="100" step="10" required />
            <mat-error *ngIf="predictForm.get('PageValues')?.hasError('required')">
              Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="predictForm.get('PageValues')?.hasError('min')">
              El valor debe ser mayor o igual a 0.
            </mat-error>
            <mat-error *ngIf="predictForm.get('PageValues')?.hasError('max')">
              El valor debe ser menor o igual a 100.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Campo Mes -->
        <div class="form-item">
          <label class="form-label">¿Mes del año?</label>
          <mat-form-field appearance="fill" class="form-field">
            <select matNativeControl formControlName="Month" required>
              <option *ngFor="let month of monthsInSpanish" [value]="monthInEnglish[month]">{{ month }}</option>
            </select>
            <mat-error *ngIf="predictForm.get('Month')?.invalid">
              Selección requerida.
            </mat-error>
          </mat-form-field>
        </div>

         <!-- Campo Weekend -->
         <div class="form-item">
          <label class="form-label">¿Compra realizada en fin de semana?</label>
          <mat-form-field appearance="fill">
            <select matNativeControl formControlName="Weekend" id="Weekend">
              <option [value]="1">Sí</option>
              <option [value]="0">No</option>
            </select>
            <mat-error *ngIf="predictForm.get('Weekend')?.invalid">
              Selección requerida
            </mat-error>
          </mat-form-field>
        </div>


        <!-- Campo Tipo de Visitante -->
        <div class="form-item">
          <label class="form-label">¿Tipo de visitante?</label>
          <mat-form-field appearance="fill" class="form-field">
            <select matNativeControl formControlName="VisitorType" required>
              <option value="Returning_Visitor">Visitante Frecuente</option>
              <option value="New_Visitor">Nuevo Visitante</option>
              <option value="Other">Otro</option>
            </select>
            <mat-error *ngIf="predictForm.get('VisitorType')?.invalid">
              Selección requerida.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <button [disabled]="predictForm.invalid || loading" mat-raised-button color="primary"
      (click)="makePredicionAjustada()">
      <span *ngIf="!loading">Hacer predicción</span>
      <span *ngIf="loading">Realizando la predicción...</span>
    </button>
  </mat-card>
</div>