.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-card {

  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alinear todo a la izquierda */
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center; /* Mantener el título centrado */
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1rem;
}

.form-field {
  width: 100%;
}

.large-input input, .large-input select {
  font-size: 1.2rem;
  padding: 10px;
}

button {
  margin-top: 20px;
  width: 100%; /* Botón ancho */
  font-size: 1rem;
  padding: 10px;
}
