<mat-toolbar color="accent">
    <!-- Contenedor para el título y menú -->
    <div class="menu-container">
      <!-- Título -->
      <span class="title" routerLink="">Predicción de Comportamiento de Compra</span>
  
      <!-- Menú de navegación -->
      <div class="menu">
        <ng-container >
          <button mat-button routerLink="/predicionNewSample">Generar Predicción de Compra</button>
          <button mat-button routerLink="/historialPredicciones">Historial de Resultados de Predicción</button>
        </ng-container>
      </div>
    </div>
  
    <!-- Espaciador para empujar el botón de logout -->
    <span class="spacer"></span>
  
  </mat-toolbar>
  
  <!--Contenido Dinamico-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>