.table-container {
    max-width: 900px;
    margin: auto;
  }
  
  table {
    width: 100%;
  }
  
  /* 🔵 Estilos para la predicción */
  .compra {
    color: green;
    font-weight: bold;
  }
  
  .no-compra {
    color: red;
    font-weight: bold;
  }
  