.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center;
}

.card-item {
  flex: 1 1 calc(50% - 16px); /* Cada tarjeta ocupa el 50% menos el espacio entre ellas */
  max-width: 600px; /* Puedes ajustar el máximo según tu diseño */
}

.detalle-card {
  padding: 16px;
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

  
  .data-item {
    width: 50%; /* Toma la mitad del ancho */
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    
  }
  
// Encabezado con fondo gris
.page-header {
  background-color: #333333;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.page-title {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}